[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
[submodule "public"]
	path = public
	url = https://github.com/work-bvs/work-bvs.github.io.git
	branch = main
